services:

  ts-api:
    build:
      context: ./server
    develop:
      watch:
        - action: rebuild
          path: ./server/src/package.json
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      JWT_SECRET: ${JWT_SECRET}
    ports: 
      - "5000:5000"
    volumes:
      - ./server:/usr/src/app
    depends_on:
      - db

  db:
    image: postgres
    ports:
      - "5433:5432"
    volumes:
      - data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    ports:
      - "5050:80"
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - db

  client:
    build:
      context: ./jwt-client
    volumes:
      - ./jwt-client:/usr/src/app
    ports:
      - "8080:8080"
    depends_on:
      - ts-api

volumes:
  data: {}
  pgadmin-data: {}



